.player {
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    background-color: rgb(116, 0, 0);
    border: 1px solid black;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    span {
        font-size: 22px;
        margin-left: 10px;
        color: white;
    }

    img {
        width: 50px;
        height: 50px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 100%;
        background-color: rgb(159, 236, 35);
    }
}